/* Cascading Style Sheet */
/* 선택자(selector) */
#header-center {
  margin: 0 auto;
  width: 1080px;
}

/* 자식 */
#header-search > h1 {
  width: 280px;
  display: inline-block;
}

/* #header-center h1 {
  자손 선택자
} */

#header-search h2 {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
  /* 화면에 보이진 않지만 스크린 리더는 읽음*/
}

#header-search fieldset {
  width: 520px;
  display: inline-block;
}
